body {
    background: #f0effc;
}
table {
    border-color: none;
    background-color: inherit;
}
#gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
img{
    transition:0.4s;
    cursor:pointer;
}
#full{
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    display:none;
    justify-content:center;
    align-items:center;
z-index:100
}
#full img{
    height:500px;
    width:450px
}
#full span {
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 30px;
        color: white;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
}